name: CI

on:
  pull_request:
    types: [opened, synchronize, reopened]
  push:
    branches:
      - main

env:
  CARGO_TERM_COLOR: always
  CARGO_INCREMENTAL: 0
  RUST_BACKTRACE: 1

jobs:
  test:
    name: Run Tests
    runs-on: ubuntu-latest
    timeout-minutes: 15

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: 1.78.0

      - name: Cache cargo artifacts
        uses: Swatinem/rust-cache@v2

      - name: Build tests
        run: cargo test --no-run --locked --all-features --all-targets --verbose

      - name: Run tests
        timeout-minutes: 10
        run: cargo test --locked --all-features --all-targets --no-fail-fast -- --nocapture
